

<ion-content  [fullscreen]="true">
  
  <div class="container">
    <div class="take-photo">
     
      <lottie-player id="cam-icon" (click)="getPicture()"  src="https://assets5.lottiefiles.com/packages/lf20_SUPRtH.json"   background="transparent"  speed="1.5"  style="margin-left: 100px;"  loop  autoplay></lottie-player>
      <!-- <img (click)="getpicture()" src="assets/cam.png" id="cam-icon" alt=""> -->
      <h5 id="touch-fetch" >Touch figure fetch details</h5>
    </div>
    <!-- <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_9aaqrsgf.json"   background="transparent"  speed="1"  style="width: 200px; height: 300px;" hover loop  autoplay></lottie-player> -->
    
   <img src="{{imgUrl}}" height="200" weight="200" alt="">
    <div id="search-divition">
     <input id="search-inputfield"[(ngModel)]="searchText" placeholder="Search " type="text">
     <span><ion-icon id="search-icon" (click)="searchItem()" name="search-outline"></ion-icon></span>
    </div>
    <h4 id="search-item">Search Items  <span *ngIf="clear" (click)="clearFun()" class="float-right clear">clear</span> </h4>
    
    <div *ngFor="let product of productDetails" class="card">
      <div class="row" id="card">
        <div class="col-5">
          <img id="search-product-home" src="assets/{{product.imgurl}}"  alt="">
        </div>
        <div class="col-6" style="margin-left: -10px;">
         <p class="product-name">{{product.productname}}</p>
         <p class="categories">{{product.category}}</p>
         <p id="price" > <span class="rs">₹</span>{{product.price}}</p>
        </div>
        <div class="col-1">
          <ion-icon (click)="addToCart(product.id)"  class="cart-icon"  name="cart"></ion-icon>
        </div>
      </div>
    </div>

  

  </div>
</ion-content>
