
<ion-content>
  
  <h1 id="heading" style="text-align: center;"><b>Smart Shopping</b></h1>
  <img id="logo" src="assets/home.png" alt="">
  <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_9kdbftpx.json"   background="transparent"  speed="1" id="gif-home"  hover loop  autoplay></lottie-player>
    <div id="divition" class="col-3">
      <button  class="get-started-btn" (click)="navigateRegister()" expand="block">Create Account</button>
     
    </div>
    <div>
      <p id="home-login" class="que"  >Already have account? <span style="color:#52c6c2;cursor: pointer;"><b (click)="navigateLogin()">Login </b></span></p>
    </div>

</ion-content>
